.menu {
  display: flex;
  gap: 1px;
  background: var(--colorStroke);
  position: absolute;
  bottom: calc(7.5rem - 100vh);
  left: 0;
  width: 100%;
  height: calc(100vh - 7.5rem);
  z-index: -1;
}

.nav {
  width: min(100%, 25rem);
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  outline: var(--colorStroke) solid 1px;
  background: var(--colorBackground);
  padding-top: 5rem;
  @media (max-width: 900px) {
    min-width: 21rem;
  }
}

.categories {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  outline: var(--colorStroke) solid 1px;
  background: var(--colorBackground);
}

.buttons {
  display: flex;
  & > * {
    width: 100%;
    outline: var(--colorStroke) solid 1px;
    background: var(--colorBackground);
    padding: 1rem 0;
  }
}

.categoriesInner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10vh 5vw 0;
  gap: 2rem 1rem;
}

.block {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 1.5rem;
  width: 12.5rem;
}

.blockTitle {
  font-size: 1.125rem;
  font-weight: 500;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  background: transparent;
  border-bottom: transparent solid 1px;
  width: fit-content;
  color: var(--colorGray);
  &:hover {
    background: transparent !important;
    border-bottom: var(--colorGray) solid 1px;
  }
}