.menu {
  display: flex;
  gap: 1px;
  background: var(--colorStroke);
  position: absolute;
  bottom: calc(7.5rem - 100vh);
  left: 0;
  width: 100%;
  height: calc(100vh - 7.5rem);
  z-index: -1;
}

.nav {
  width: min(100%, 25rem);
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  outline: var(--colorStroke) solid 1px;
  background: var(--colorBackground);
  padding-top: 5rem;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  outline: var(--colorStroke) solid 1px;
  background: var(--colorBackground);
}

.category {
  width: 100%;
  outline: var(--colorStroke) solid 1px;
  background: var(--colorBackground);
  padding: 1.125rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoryName {
  font-size: .875rem;
  text-transform: uppercase;
}