.contentWithImage {
	display: flex;
	gap: 2.1875rem;
}

.imagesSelector {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.imageBlock {
	max-width: 36.25rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.currentImageWrapper {
	border-radius: 1.875rem;
	background: var(--colorStroke);
	width: 100%;
	position: relative;
}

.skeleton {
	border-radius: 1.875rem;
}

.currentImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-height: 60rem;
	border-radius: 1.875rem;
}

.imageBlockButtons {
	width: 100%;
	height: 3.5rem;
	display: flex;
	background: var(--colorStroke);
	gap: 1px;
	padding: 1px 0;
}

.imageBlockButton {
	width: 100%;
	height: 100%;
	padding: 0 1.125rem;
	white-space: pre;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	background: var(--colorBackground);
	transition: 0.3s cubic-bezier(0.35, 0.35, 0.5, 1);
	font-size: 0.8125rem;
	&:hover {
		background: var(--colorSmokyWhite);
	}
}
