.contents {
	display: flex;
  flex-direction: column;
  gap:  5rem;
  padding: 0 0 2rem;
  width: 100%;
}

.contentBlock {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.content {
	display: flex;
	flex-direction: column;
  gap: 1.5rem;
}

.loadMoreButton {
  margin: auto;
}
