.part {
	background: var(--colorStroke);
	display: flex;
	height: 3.75rem;
	//gap: 1px;
	z-index: 10;
	& > * {
		background: var(--colorBackground);
		//width: 100%;
		outline: var(--colorStroke) solid 1px;
	}
	@media (max-width: 1024px) {
		height: 3.5rem;
	}
	@media (max-width: 550px) {
		height: 2.75rem;
	}
}

.logoWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2.5rem;

	width: min(100%, 13.75rem);

	&[data-bottom-is-visible='false'] {
		padding: 0 0 0 2.5rem;
		min-width: 17.5rem;
		.catalogButton {
			width: min(100%, 11.25rem);
			outline: var(--colorStroke) solid 1px;
			@media (max-width: 1024px) {
				width: min(100%, 6.25rem) !important;
			}
		}

		@media (max-width: 1024px) {
			min-width: 12.5rem;
		}
		@media (max-width: 650px) {
			min-width: 8rem;
			max-width: 8rem;
			padding: 0 0 0 1.375rem;
		}
		@media (max-width: 550px) {
			min-width: 8rem;
			max-width: 8rem;
			padding: 0 0 0 1rem;
		}
	}
}

.catalogButtonWrapper,
.logo {
	overflow: hidden;
}