.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  outline: var(--colorStroke) solid 1px;
}

.contacts {
  display: flex;
  height: 5rem;
  width: 100%;
  background: var(--colorStroke);
  outline: var(--colorStroke) solid 1px;
  gap: 1px;
  & > * {
    //outline: var(--colorStroke) solid 1px;
    background: var(--colorBackground);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1rem;
  }
  @media (max-width: 1180px) {
    height: 3.5rem;
  }
}

.mailContact {
  width: min(100%, 20rem);
  justify-content: flex-start;
  padding-left: 2.35rem;
  @media (max-width: 900px) {
    width: 100%;
  }
}

.phoneContact,
.timeContact {
  width: min(100%, 16.25rem);
  text-align: center;
}

.timeContact {
  @media (max-width: 900px) {
    display: none;
  }
}

.phoneContact {
  @media (max-width: 1180px) {
    display: none;
  }
}

.link {
  width: min(100%, 9.35rem);
  min-width: 5.625rem;
  transition: .3s cubic-bezier(0.35, 0.35, 0.5, 1);
  &:hover {
    background: var(--colorSmokyWhite);
  }
  @media (max-width: 1030px) {
    width: min(100%, 7rem);
  }
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5rem 2.5rem ;
}

.rightPart {
  display: flex;
  width: max(50%, 30rem);
  justify-content: space-between;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
}

.list {
  display: flex;
  flex-direction: column;
  gap: .625rem;
}

.item {
  font-size: .8125rem;
  color: var(--colorGray);
  width: fit-content;
  border-bottom: transparent solid 1px;
  transition: .3s cubic-bezier(0.35, 0.35, 0.5, 1);
  &:hover {
    border-bottom: var(--colorGray) solid 1px;
  }
}

.bottom {
  height: 3.75rem;
  outline: var(--colorStroke) solid 1px;
  background: var(--colorStroke);
  gap: 1px;
  display: flex;
  & > * {
    background: var(--colorBackground);
    color: var(--colorGray);
    font-size: .75rem;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.copyright {
  width: min(100%, 23rem);
  padding-left: 2.5rem;
}

.paymentMethod {
  display: flex;
  justify-content: space-between;
  padding: 0 2.5rem;
  width: min(100%, 25.75rem);
}

.paymentMethodTitle {
  color: var(--colorGray);
}

.paymentMethodList {
  display: flex;
  gap: .5rem;
}

.bottomLink {
  display: flex;
  justify-content: center;
  width: min(100%, 13.75rem);
  transition: .3s cubic-bezier(0.35, 0.35, 0.5, 1);
  text-align: center;
  &:hover {
    background: var(--colorSmokyWhite);
  }
}