.button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	border-radius: 10rem;
	padding: 0.875rem;
	transition: .2s ease-in-out;
	&:active {
		opacity: .8;
	}
}

.button:disabled {
	filter: grayscale(1);
	cursor: not-allowed;
}

.flatButton {
	background: var(--colorFont);
	color: var(--colorBackground);
	&:hover {
		background: var(--colorAccent);
		color: #1c1c1c;
	}
}

.outlineButton {
	border: var(--colorFont) solid 1px;
	color: var(--colorFont);
	&:hover {
		border: var(--colorAccent) solid 1px;
		color: var(--colorAccent);
	}
}
