.catalogButton {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  width: min(100%, 220px);
  height: 100%;
  padding: 0 2.5rem;
  transition: .3s ease-in-out;

  &:hover {
    background: var(--colorSmokyWhite);
  }

  @media (max-width: 650px) {
    padding: 0;
    justify-content: center;
    max-width: 4rem;
  }
}

.text {
  text-transform: uppercase;
  font-size: .875rem;
  @media (max-width: 1024px) {
    display: none;
  }
}

.hamburgerIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  width: 1.5rem;
  min-width: 1.5rem;
  background: transparent;
}

.hamburgerStick {
  width: 90%;
  //height: 0.125rem;
  height: 1.75px;
  background: var(--colorFont);
  border-radius: 1rem;
}