.logo {
	display: flex;
	align-items: center;
	&:hover {
		background: transparent !important;
	}
}

.logoTextWrapper {
	margin-left: 0.5rem;
	display: flex;
	align-items: center;
	overflow: hidden;
}
