.part {
  background: var(--colorStroke);
  display: flex;
  height: 3.75rem;
  //gap: 1px;
  //overflow: hidden;
  position: relative;
  z-index: 9;
  & > *:first-child {
    padding-left: 2.5rem;
  }
  & > * {
    background: var(--colorBackground);
    outline: var(--colorStroke) solid 1px;
    overflow: hidden;
  }
}