.headerWrapper {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 1000;
}

.header {
	width: min(100%, 90rem);
	display: flex;
	flex-direction: column;
	gap: 1px;
	outline: solid 1px var(--colorStroke);
	position: relative;
}
