.headerWrapper {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 1000;
	//& * {
	//	transition: background-color 0.3s
	//	cubic-bezier(0.35, 0.35, 0.5, 1),
	//	color 0.3s cubic-bezier(0.35, 0.35, 0.5, 1),
	//	outline-color 0.3s cubic-bezier(0.35, 0.35, 0.5, 1);
	//}
}

.header {
	width: min(100%, 90rem);
	display: flex;
	flex-direction: column;
	gap: 1px;
	outline: solid 1px var(--colorStroke);
	//background: var(--colorStroke);
	position: relative;

	& button,
	a {
		transition: .3s cubic-bezier(0.35, 0.35, 0.5, 1);
		&:hover {
			background: var(--colorSmokyWhite);
		}
	}
}
